/ocean/
/results/
/videos/
/build/
/dist/
/runs/
/src/__pycache__/
/src/results/
/src/segmentation/data
/src/segmentation/__pycache__
/src/segmentation/sam_vit_b_01ec64.pth
/src/segmentation/sam_vit_h_4b8939.pth
/2020/
/venv/
/version.json
/DJI_0091_Trim_1g/
/assets/image_sources.txt
Sharkeye Todo.md
sharkeye_log.txt
.DS_Store
app.log
2023_2023-12-02_Transect_Dec-2nd-2023-03-54PM-Flight-Airdata.csv
videos_with_flight_data.csv
headless_predictions/
headless_predictions_2/
sample_data/
segmentation_comparison/
src/find_flight_data.pys
src/sharkeye todo.txt
.vscode/settings.json
runs/detect/runs/detect/data/args.yaml
runs/detect/runs/detect/src/args.yaml
model_weights/runs-detect-train-weights-best.pt
model_weights/sam_vit_b_01ec64.pth
model_weights/train6-weights-best.pt
model_weights/train7-weights-best.pt
model_weights/train8-weights-best.pt
CUSTOM_TRACKER_BREAKDOWN.md
assets/images/image_sources.txt
