model_weights/train6-weights-best.pt filter=lfs diff=lfs merge=lfs -text
model_weights/train7-weights-best.pt filter=lfs diff=lfs merge=lfs -text
dist/SharkEye filter=lfs diff=lfs merge=lfs -text
dist/SharkEye.app filter=lfs diff=lfs merge=lfs -text
build/SharkEye filter=lfs diff=lfs merge=lfs -text
model_weights/train8-weights-best.pt filter=lfs diff=lfs merge=lfs -text
model_weights/sam_vit_b_01ec64.pth filter=lfs diff=lfs merge=lfs -text